*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
   } 
    
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   
    
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
   html{ 
    scroll-behavior: smooth; 
   }
   p{
    margin: 0;
    padding: 0;
   }
   button{
    transition: 0.3s;
   }
   button:hover{
    filter: contrast(200%);
    transform: scale(0.98);
   }

.header {
    padding: 0px 10px;
    max-width: 1200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    font-family: 'Work Sans', sans-serif;
}

.logo{
    font-family: 'Work Sans', sans-serif;
    margin-right: 150px;

}

.header__left{
    display: flex;
    font-size: 25px;


}

.header__right{
    display: flex;
    
}

.header__logo {
}
.header__nav {
    font-size: 25px;
    display: flex;
    gap: 30px;
}
.header__element {
    color: #000;
}
.form-select {
    width: 75px;
}
.main {
}

.info__block {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 50px;
    font-family: 'Work Sans', sans-serif;
}
.info__left {
}

.info__overtext{
    margin-top: 70px;
    margin-bottom: 0px;
}
.info__title {
    font-size: 70px;
}
.info__button {
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(38, 0, 255);
    color: #fff;
}
.info__right {
}
.info__img {
    margin-right: 75px;
}


.popular-item__block{
    margin-top: 75px;
}

.popular-item__title{
    margin: 15px auto;
    font-size: 40px;
    width: 400px;
}

.item-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
}
.item-card {
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #9f9f9f;
    padding: 11.5px;
}
.card-img {
    margin: 0px auto;
    width: 275px;
    height: 275px;
    border-radius: 20px;
}



.item-info {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #505050;
font-family: Work Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.item-title {
    margin-top: 10px;
    font-weight: 400;
    font-size: 24px;
}

.item-button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(#0097ff,#00b9ff,#0097ff);
    background: linear-gradient(90deg, rgba(0,151,255,1) 0%, rgba(99,67,185,1) 0%, rgba(44,102,223,1) 46%, rgba(51,98,218,1) 55%, rgba(87,77,193,1) 100%);
    font-size: 16px;
    background-position: 0 0;
    color: #fff;
    border-radius: 30px;
background: #7748FF;
    animation: card-a 20s ease infinite;
}


.item-price{
    font-size: 24px;
    color: #000;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.item-price-box{
    display: flex;
    justify-content: flex-start;
    gap: 70px;

}


.button__item{
    display: block;
    margin: 0px auto;
    width: 200px;
    height: 50px;
    background-color: #7748FF;
    color: #fff;
    border-radius: 30px;
}


@keyframes card-a {
    100% {
        background-position: 0 200px;
      }
    
    
}

.subtitle {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
.title {
    text-align: center;
    font-size: 50px;
}